.evolve-1 {
  transition: all 0.3s ease;
  transform: scale(1);
}

.evolve-2 {
  transition: all 0.3s ease;
  transform: scale(1.3);
}

.evolve-3 {
  transition: all 0.3s ease;
  transform: scale(1.6);
  filter: drop-shadow(0 0 10px gold);
}
